
<html lang="zh-CN">
        
{% extends './main.html' %}

{% block div1 %}
<p style="margin-left:170px;height:2%">体检实到人数/体检应到人数：<b id="validnumber" style="color:firebrick">{{ validnumber }}</b> /<b id="allnumber" style="color:darkblue">{{ allnumber }}</b></p>
<p id="time">{{ time }}</p>
<p id="count">{{ count }}</p>
<div style="width:100%;height:93%;overflow:auto;">
<table id="table1">
    <thead style="overflow:hidden">
        <tr style="overflow:hidden">
            <td>ID</td>
            <td>姓名</td>
            <td>性别</td>
            <td>体检时间</td>
        </tr>
    </thead>
    <tbody id="tablebody">
       {% for person in unvalid_persons %}
        <tr id="uncoming">
            <td style="color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)">{{person.id}}</td>
            <td style="color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)">{{person.name}}</td>
            <td style="color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)">{{person.gender}}</td>
            <td style="color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)">未到</td>
        </tr>
        {% endfor %}
        {% for person in valid_persons %}
        <tr id="coming">
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.gender}}</td>
            <td>{{person.time}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
</div>
<script>
    function getLength(){
        length=$("#table1").find("tr").length;
        return length;
    }   
    (function () {

        
        // setInterval("reload()",30000);
        
    })();

            
           
        </script>
{% endblock %}
{% block div2 %}
<div id="piechart" style="margin-top:10px;margin-left:10px;width: 96%;height:50%;"></div>
<div id="histogram" style="margin-top:20px;margin-left:10px;width: 96%;height:50%;"></div>


<script type="text/javascript">
Date.prototype.format = function(fmt) { 
     var o = { 
        "M+" : this.getMonth()+1,                 //月份 
        "d+" : this.getDate(),                    //日 
        "h+" : this.getHours(),                   //小时 
        "m+" : this.getMinutes(),                 //分 
        "s+" : this.getSeconds(),                 //秒 
        "q+" : Math.floor((this.getMonth()+3)/3), //季度 
        "S"  : this.getMilliseconds()             //毫秒 
    }; 
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt; 
} 


count=$("#count").text().slice(1,-1).split(",");

function date(){
    dates=[]
    time=$("#time").text().slice(1,-1).split(",");
    for(i=0;i<time.length;i++){
        if(time[i][0]==" "){
            time[i]=time[i].slice(1,);
        }
    }
    for(i=0;i<time.length-1;i++){
        date=time[i].slice(1,-1)+"~"+time[i+1].slice(1,-1);
        dates[i]=date;
    }
    return dates;
}

    // 基于准备好的dom，初始化echarts实例

var validnumber=$("#validnumber").text();
var allnumber=$("#allnumber").text();
function chart1Option(validnumber,allnumber){
    var Chart1 = echarts.init(document.getElementById('piechart'));
    option1 = {
    title : {
        text: '签到人数',
        subtext: '真实可信，童叟无欺',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:['来','没来']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'人数',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:parseInt(validnumber), name:'来'},
                {value:parseInt(allnumber)-parseInt(validnumber), name:'没来'},
            ]
        }
    ]
    };
    Chart1.setOption(option1);
}
// 使用刚指定的配置项和数据显示图表。
chart1Option(validnumber,allnumber);
function updateTable(uncoming,coming){
    $("#tablebody").text("");
    validLength=coming.length;
    unvalidLength=uncoming.length;
    for(i in uncoming){
        tr=$("<tr></tr>");
        tr.html("<td style='color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)'>"+uncoming[i].id+"</td>"+
        "<td style='color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)'>"+uncoming[i].name+"</td>"+
        "<td style='color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)'>"+uncoming[i].gender+"</td>"+
        "<td style='color:rgb(240, 228, 230);background-color: rgb(180, 18, 18)'>"+"未到"+"</td>");
        $("#tablebody").append(tr); 
    }

    for(i in coming){
        console.log(coming[i].time+"+0800")
        console.log(new Date)
        time=new Date(coming[i].time).format("yyyy-MM-dd 11:mm:ss");
        // time=new Date().format("yyyy-MM-dd hh:mm:ss");
        tr=$("<tr></tr>");
        tr.html("<td>"+coming[i].id+"</td>"+
        "<td>"+coming[i].name+"</td>"+
        "<td>"+coming[i].gender+"</td>"+
        "<td>"+time+"</td>");
        $("#tablebody").append(tr);
    }
}

function chart2Option(dates,count){
    var Chart2 = echarts.init(document.getElementById('histogram'));
    option2 = {
        title : {
            text: '体检人数统计',
            subtext: '纯属虚构'
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['人数']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : dates
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                
                name:'每半小时人数统计',
                type:'bar',
                data:count,
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    Chart2.setOption(option2);
}
var dates=date();
chart2Option(dates,count);
    function updateDate(time){
        dates=[]
        length=time.length;
        for(i=0;i<length-1;i++){
            dates[i]=(time[i]+"~"+time[i+1]);
        }
        return dates;
    } 

    function update(){
        $.post("/", {}, function(data){
            uncoming=data.unvalid_persons;
            coming=data.valid_persons;
            allnumber=data.allnumber;
            validnumber=data.validnumber;
            count=data.count;
            time=data.time;
            $("#allnumber").text(allnumber);
            $("#validnumber").text(validnumber);
            dates=updateDate(time);
            updateTable(uncoming,coming);
            chart1Option(validnumber,allnumber);
            chart2Option(dates,count);
            console.log("nmsl!!!");
        })
    }


setInterval(update,1000);
console.log("motherfucker!")
</script>

{% endblock %}


